<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <h4><small class="text-danger">请在浏览器中打开. 成功上传后, 你会收到短信提示<br>完成 PY 交易后, 请及时删除信息.<br>各位可以<a ui-sref="plus-one" class="text-success">续命</a>为毕业攒 RP.</small></h4><br>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 table-responsive">
        <div class="col-xs-12" ng-repeat="item in items">
            <div class="col-xs-2">
                <h4>{{item.id}}</h4>
            </div>
            <div class="col-xs-7">
                <h5><small>{{item.ad}}</small></h5>
            </div>
            <div class="col-xs-3">
                <button class="btn btn-block btn-default" ng-click="showTel(item.mobile)"><span class="glyphicon glyphicon-earphone"></span> </button>
            </div>
        </div>
    </div>
</div>