<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3"><form name="removeForm" class="ng-pristine ng-invalid ng-invalid-required">
        <div class="col-xs-12">
            <input type="text" ng-model="user.id" class="form-control input-lg" placeholder="你的戒指号" ng-pattern="/^([0-9]){1,4}$/" required>
            <br>
        </div>
        <div class="col-xs-12">
            <input type="text" ng-model="user.mobile" class="form-control input-lg" placeholder="你的手机号" ng-pattern="/([0-9]){11}/" required>
            <br>
        </div>
        <div class="col-xs-6">
            <button ng-click="removeUser()" ng-disabled="removeForm.$invalid" class="btn btn-danger btn-lg btn-block" disabled="disabled">Remove</button>
            <br>
        </div>
    </form></div>
</div>